@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --bg-color: #270047;
    --primary-color: #CDFCF6;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 5em;
}

h3 {
    font-size: 2em;
    margin-top: 1em;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 2em;
}

#text {
    flex-direction: column;
}

.box {
    border: 0.1em solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.2em;
}

.btn-jogar {
    padding: 0.5em;
    margin: 2em;
    border: 0;
    background: var(--primary-color);
    border-radius: 0.3em;
}

.btn-jogar:active {
    background-color: rgb(17, 152, 209);
}

.game-over {
    background-color: #000;
}